{% load static %}

<div class="container-fluid bg-dark m-0">
    <header class="d-flex flex-wrap justify-content-center py-3">
        <ul class="nav nav-pills me-md-auto">
            <li class="nav-item">
                <a href="/" class="nav-link text-white fs-4 header-btn">Todo</a>
            </li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'users:logout' %}" class="nav-link text-white fs-4 header-btn">Log out</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'app:completed_tasks' %}" class="nav-link text-white fs-4 header-btn">{{ user.username }}</a>
            </li>
        </ul>
    </header>
</div>