{% load static %}

<div class="container-fluid bg-dark m-0" style="flex: 0 1 auto;">
    <header class="d-flex flex-wrap justify-content-center py-2">
        <ul class="nav nav-pills me-md-auto">
            <li class="nav-item">
                <a href="/" class="nav-link text-white fs-4 header-btn">Todo</a>
            </li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item dropdown">
                <a class="nav-link text-white fs-4 dropdown-toggle header-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'users:logout' %}">Log out</a></li>
                </ul>
            </li>
        </ul>
    </header>
</div>