{% load static %}
{% load tasks_tags %}

{% get_today_tasks user as today_tasks %}
{% get_upcoming_tasks user as upcoming_tasks %}
{% get_completed_tasks user as completed_tasks %}
{% get_overdue_tasks user as overdue_tasks %}

{% get_folders user as folders %}

<div class="d-flex flex-column flex-shrink-0 p-2" style="background-color: #f0f0f0; min-width: 300px; border-right: 1px solid #e6e6e6;">

    <ul class="nav flex-column">
        <li class="nav-item navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link flex-grow-1 text-dark" href="{% url 'app:overdue_tasks' %}">Overdue</a>
                <span class="mx-2">{{ overdue_tasks.count }}</span>
            </div>
        </li>
        <li class="nav-item navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link flex-grow-1 text-dark" href="{% url 'app:completed_tasks' %}">Completed</a>
                <span class="mx-2">{{ completed_tasks.count }}</span>
            </div>
        </li>
        <li class="nav-item navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link flex-grow-1 text-dark" href="{% url 'app:index' %}">Today</a>
                <span class="mx-2">{{ today_tasks.count }}</span>
            </div>
        </li>
        <li class="nav-item navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link flex-grow-1 text-dark" href="{% url 'app:upcoming_tasks' %}">Upcoming</a>
                <span class="mx-2">{{ upcoming_tasks.count }}</span>
            </div>
        </li>
    </ul>

    <ul class="nav flex-column mt-4">
        <li class="nav-item navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <span class="nav-link flex-grow-1 text-dark">Folders</span>
                <a href="#" class="nav-link text-dark m-0 p-0 px-2 fs-4" data-bs-toggle="modal" data-bs-target="#exampleModal">+</a>
                <span class="mx-2">{% if folders.count > 0 %}{{ folders.count }}{% endif %}</span>
            </div>
        </li>
        {% if folders %}
        {% for folder in folders %}
        <li class="nav-item navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center" id="folder_div">
                <span aria-hidden="true" class="ms-2"><svg width="24" height="24" viewBox="0 0 24 24" class="project_icon" style="color: rgb(184, 184, 184);"><path d="M12 7a5 5 0 110 10 5 5 0 010-10z" fill="currentColor"></path></svg></span>
                <a class="nav-link flex-grow-1 text-dark ps-1" href="{% url 'app:folder_tasks' folder.id %}">{{ folder.name|truncatechars:15 }}</a>
                {% get_folder_tasks user folder.id as folder_tasks %}
                <span class="mx-2" id="folder_tasks_count">{{ folder_tasks.count }}</span>
                <div class="dropdown mx-2"  id="del_folder">
                    <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'app:remove_folder' folder.id %}">Delete folder</a></li>
                    </ul>
                  </div>
            </div>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</div>

{% get_folder_form as form %}
<!-- Modal -->
<div class="modal modal-lg fade fs-4" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Add new folder</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" class="m-3" action="{% url 'app:add_folder' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            Your Form Has Errors
                            {% for field in form %}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            {% endfor %}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="d-flex">
                            <div class="flex-grow-1 d-flex me-2">
                                <input type="text" class="form-control fs-4" name="name" id="folder_floatingInput" placeholder="Folder name" maxlength="100" onkeyup="add_folder()">
                            </div>
                            <button id="folder_btn" type="submit" class="btn btn-primary fs-4 py-2 px-3" disabled>Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    #folder_div #del_folder {
        display: none;
    }
    #folder_div:hover #del_folder {
        display: flex;
    }
    #folder_div #folder_tasks_count {
        display: block;
    }
    #folder_div:hover #folder_tasks_count {
        display: none;
    }

    #del_folder .dropdown-menu {
        display: none;
    }

    #del_folder:hover .dropdown-menu {
        display: block;
        margin-top: 2em;
    }
</style>

<script type="text/javascript">
    function add_folder() {
        if(document.getElementById("folder_floatingInput").value == "") { 
            document.getElementById('folder_btn').disabled = true; 
        } else { 
            document.getElementById('folder_btn').disabled = false;
        }
    }
</script>