{% load static %}
{% load tasks_tags %}

{% get_today_tasks user as today_tasks %}
{% get_upcoming_tasks user as upcoming_tasks %}
{% get_completed_tasks user as completed_tasks %}

<div class="col-md-2 d-flex flex-column flex-shrink-0 p-3" style="background-color: #f3f3f3;">

    <ul class="nav flex-column">
        <li class="nav-item fs-5 navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link flex-grow-1 text-dark" href="{% url 'app:completed_tasks' %}">Completed</a>
                <span class="mx-2">{{ completed_tasks.count }}</span>
            </div>
        </li>
        <li class="nav-item fs-5 navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link flex-grow-1 text-dark" href="{% url 'app:index' %}">Today</a>
                <span class="mx-2">{{ today_tasks.count }}</span>
            </div>
        </li>
        <li class="nav-item fs-5 navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link flex-grow-1 text-dark" href="{% url 'app:upcoming_tasks' %}">Upcoming</a>
                <span class="mx-2">{{ upcoming_tasks.count }}</span>
            </div>
        </li>
    </ul>

    <ul class="nav flex-column mt-4">
        <li class="nav-item fs-5 navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <a class="nav-link flex-grow-1 text-dark" href="#">Folders</a>
                <a href="#" class="nav-link text-dark m-0 p-0 px-2 fs-4" data-bs-toggle="modal" data-bs-target="#exampleModal">+</a>
                <span class="mx-2">3</span>
            </div>
        </li>
        <li class="nav-item fs-5 navbar-btn">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <span aria-hidden="true" class="ms-2"><svg width="24" height="24" viewBox="0 0 24 24" class="project_icon" style="color: rgb(184, 184, 184);"><path d="M12 7a5 5 0 110 10 5 5 0 010-10z" fill="currentColor"></path></svg></span>
                <a class="nav-link flex-grow-1 text-dark ps-1" href="#">Smth</a>
            </div>
        </li>
    </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>