{% load static %}
<header class="p-3" style="border-bottom: 1px solid #ccc;"> 
    <div class="container-fluid row fs-3">
        <div class="d-flex col-md-3">
            <a href="" class="fs-3" style="text-decoration: none; color: dodgerblue;">To-Do-List</a>
        </div>

        <div class="d-flex col-md-6">
            s
        </div>

        <div class="col-md-3 d-flex justify-content-end">
            <a href="{% url 'users:login'%}" class="header-btn">Log in</a>
        </div>
    </div>
</header>