{% extends 'todo/base.html' %}
{% block title %}Главная{% endblock title %}

{% block content %}

<div class="container-fluid m-0 p-0 row">
    <div class="col-md-2 d-flex py-4 fs-3" style="background-color: rgb(250, 250, 250);">
        <div class="container">
            <a href="#">Today</a>
        </div>
    </div>
    
    <div class="col-md-10 py-4 px-5 fs-3">
        <h1 class="mb-3">Today</h1>
        <span class="fs-4 mx-3" style="color: #868686;">Add task</span>
        <div class="d-flex p-0 my-2" style="border-radius: 15px; border: 1px solid #ccc;">
            <form action="{% url 'app:add_task' %}" method="post" class="fs-5 m-3">
                {% csrf_token %}
                
                <div class="form-error">{{ form.non_field_errors }}</div>

                <table>
                    {% for field in form %}
                        <tr>
                            <td style="padding: 4px 0px;"><label class="form-label me-2" for="{{ field.id_for_label }}">{{ field.label }}: </label></th>
                            <td style="padding: 4px 0px;">{{ field }}</th>
                        </tr>
                        <tr>
                            <div class="form-error">{{ field.errors }}</div>
                        </tr>
                    {% endfor %}
                </table>

                <button type="submit" class="btn btn-primary m-2">Добавить</button>
            </form>  
        </div>

        <div class="container-fluid">
            {% if tasks %}
                {% for task in tasks %}
                <div class="container-fluid row m-0 my-2 p-2" style="border-bottom: 1px solid #ccc;">
                    <div class="container-fluid row">
                        <div class="col-md-9 d-flex m-0 p-0">
                            <div class="container-fluid p-0 m-0">
                                <div class="container-fluid row">
                                    {{ task.name }}
                                    {% if task.category %}
                                     / {{ task.category }}
                                    {% endif %}
                                    
                                    {% if task.section %}
                                     / {{ task.section }}
                                    {% endif %}
                                </div>
                                <div class="container-fluid row fs-4" style="color: #868686;">
                                    {{ task.description }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center m-0 p-0">
                            <a href="#" class="btn btn-success mx-2">Выполнено</a>
                            <a href="#" class="btn btn-danger mx-2">Удалить</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h1>No tasks</h1>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}