{% extends 'todo/base.html' %}
{% block title %}Today{% endblock title %}

{% block content %}

<div class="col-md-10 py-4 px-5 fs-3">
    <h1 class="mb-3">Today</h1>
    {% if messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    <div class="accordion shadow-sm" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Add task
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form method="POST" class="fs-5" action="{% url 'app:index' %}">
                        {% csrf_token %}

                        <div class="row g-3">
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="name" id="floatingInput" placeholder="Name" maxlength="150" onkeyup="success()">
                                    <label for="floatingInput">Name *</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" name="date" id="floatingDate" placeholder="Date">
                                    <label for="floatingDate">Date (today by default)</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="time" class="form-control" name="time" id="floatingTime" placeholder="Time">
                                    <label for="floatingTime">Time</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" name="description" placeholder="Description" id="floatingTextarea" maxlength="500" onkeyup="success()"></textarea>
                                    <label for="floatingTextarea">Description *</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary m-2 ms-md-auto py-2 px-3 fs-5" id="form_btn" disabled>Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion shadow-sm mt-3 mb-3" id="accordionExample2">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                Filters
                </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample2">
                <div class="accordion-body">
                    <form method="GET">
                        <div class="d-flex flex-row justify-content-center align-items-center">
                            <div class="flex-grow-1 me-3">
                                <div class="row g-3">
                                    <div class="col-md-8">
                                        <div class="d-flex">
                                            {{ form_filter.name }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex">
                                            {{ form_filter.folder }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary py-2 px-3 fs-5">Search</button>
                                <!--<button type="reset" class="btn btn-warning py-2 px-3 fs-5 ms-2" value="Reset" id="resetBtn" onClick="this.form.clear()">Clear</button>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% if tasks %}
            {% for task in tasks %}
            <div class="container-fluid row m-0 my-2 p-2" style="border-bottom: 1px solid #ccc;">
                <div class="d-flex flex-row">
                    <div class="flex-grow-1 d-flex m-0 p-0">
                        <div class="container-fluid p-0 m-0">
                            <div class="d-flex flex-row m-0 p-0 me-2">
                                {% if task.folder %}
                                <a href="{% url 'app:folder_tasks' task.folder.id %}" style="color: dodgerblue; text-decoration: none;" class="me-2">
                                    {{ task.folder }} /
                                </a>
                                {% endif %}

                                {% if task.section %}
                                <a href="#" style="color: coral;" class="me-2">
                                    {{ task.section }} /
                                </a>
                                {% endif %}

                                <div class="m-0 p-0 flex-grow-1">
                                    {{ task.name }}
                                </div>
                            </div>
                            {% if task.description %}
                            <div class="container-fluid row fs-4" style="color: #868686;">
                                {{ task.description }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center m-0 p-0 me-4" style="min-width: 200px;">
                        {% if task.time %}
                        {{ task.time }}, 
                        {% endif %}
                        {{ task.date }}
                    </div>
                    <div class="d-flex justify-content-center align-items-center m-0 p-0 me-2">
                        <a href="{% url 'app:complete_task' task.id %}" class="btn btn-success">Complete</a>
                    </div>
                    <div class="d-flex justify-content-center align-items-center m-0 p-0">
                        <a href="{% url 'app:delete_task' task.id %}" class="btn-close"></a>   
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class=" my-2 p-2">
                <h1>No tasks</h1>
            </div>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    function success() {
        if(document.getElementById("floatingInput").value==="" || document.getElementById("floatingTextarea").value==="") { 
            document.getElementById('form_btn').disabled = true; 
        } else { 
            document.getElementById('form_btn').disabled = false;
        }
    }
</script>

{% endblock content %}