{% extends 'todo/base.html' %}
{% load tasks_tags %}
{% block title %}Today{% endblock title %}

{% block content %}

<div class="col-md-10 py-4 px-5 fs-3">
    <h1 class="mb-3">Upcoming</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Add task
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form method="POST" class="fs-5 m-3" action="{% url 'app:add_task' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                Your Form Has Errors
                                {% for field in form %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                {% endfor %}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}

                        <div class="row g-3">
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="name" id="floatingInput" placeholder="Username">
                                    <label for="floatingInput">Name *</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" name="date" id="floatingDate" placeholder="Date">
                                    <label for="floatingDate">Date (today by default)</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input type="time" class="form-control" name="time" id="floatingTime" placeholder="Time">
                                    <label for="floatingTime">Time</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" name="description" placeholder="Description" id="floatingTextarea"></textarea>
                                    <label for="floatingTextarea">Description *</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary m-2">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% get_upcoming_tasks user as tasks %}
        {% if tasks %}
            {% for task in tasks %}
            <div class="container-fluid row m-0 my-2 p-2" style="border-bottom: 1px solid #ccc;">
                <div class="d-flex flex-row">
                    <div class="flex-grow-1 d-flex m-0 p-0">
                        <div class="container-fluid p-0 m-0">
                            <div class="container-fluid row">
                                {{ task.name }}
                                {% if task.category %}
                                 / {{ task.category }}
                                {% endif %}
                                
                                {% if task.section %}
                                 / {{ task.section }}
                                {% endif %}
                            </div>
                            {% if task.description %}
                            <div class="container-fluid row fs-4" style="color: #868686;">
                                {{ task.description }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center m-0 p-0 me-4" style="min-width: 200px;">
                        {% if task.time %}
                        {{ task.time }}, 
                        {% endif %}
                        {{ task.date }}
                    </div>
                    <div class="d-flex justify-content-center align-items-center m-0 p-0 me-2">
                        <a href="{% url 'app:complete_task' task.id %}" class="btn btn-success">Выполнено</a>
                    </div>
                    <div class="d-flex justify-content-center align-items-center m-0 p-0">
                        <a href="{% url 'app:delete_task' task.id %}" class="btn-close"></a>   
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h1>No tasks</h1>
        {% endif %}
    </div>
</div>

{% endblock content %}