{% load static %}

<div class="container-fluid bg-dark m-0" style="flex: 0 1 auto;">
    <header class="d-flex flex-wrap justify-content-center py-2">
        <ul class="nav nav-pills me-md-auto">
            <li class="nav-item">
                <a href="/" class="nav-link text-white fs-4 header-btn py-1 px-2">Todo</a>
            </li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'users:login' %}" class="nav-link text-white fs-4 header-btn py-1 px-2">Log in</a>
            </li>
        </ul>
    </header>
</div>